{{#partial "principal" }}


<div class="bg-gris py-2 align-items-center text-white">
  <ol class="breadcrumb justify-content-center">
    <li class="breadcrumb-item text-white"><a href="/home" id="subrayado" class="nav-link text-white">Home</a></li>
    <li class="text-white text-decoration-none mx-2"> > </li>
    <li class="breadcrumb-item text-white" aria-current="page">Comunidades</li>
  </ol>
</nav>
</div>



<div class="text-center my-4">
     <h2>Mis comunidades</h2>
</div>

<div class="container d-flex justify-content-end my-2">
<form class="row g-3">
  <div class="col-auto">
    <label for="inputSearch" class="visually-hidden">Buscar por nombre</label>
    <input type="text" name="filtrado" class="form-control" id="inputSearch" placeholder="Buscar por nombre" value="{{#if filtro}}{{filtro}}{{/if}}">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-warning mb-3">Filtrar</button>
  </div>
</form>
</div>

<div class="container">
<div class="row mb-4">
{{#comunidades}}
<div class="col-xl-4 mb-4">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title fw-bold" style="text-transform: capitalize;">{{nombre}}</h5>
      </div>
      <div class="card-body">
        <div class="d-md-flex justify-content-md-end">
        <a href="/comunidades/{{id}}" class="btn btn-warning">Ver incidentes</a>
        </div>
      </div>
    </div>
</div>
{{/comunidades}}
</div>
</div>


<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
  {{#each paginas}}
    <form id="pagina{{this}}" method="GET">
    <input type="hidden" class="form-control" name="pagina" value="{{this}}">
    <li class="page-item paginationCustom"><a class="page-link" onclick="document.getElementById('pagina{{this}}').submit();">{{this}}</a></li>
    </form>
  {{/each}}
  </ul>
</nav>

{{/partial}}

{{> layoutSesionIniciada.html.hbs }}