{{#partial "principal" }}

<div class="text-center my-4">
<h2>Usuarios</h2>
</div>

<div class="container">
<div class="row justify-content-center">
    <div class="col-5 mx-4">
    <div class="cont-form">
    <form method="POST" action="/usuarios" class="row">
       <h4>Crear nuevo usuario</h4>
       <div class="mb-3">
           <label>Nombre</label>
           <input type="text" class="form-control" name="nombre">
       </div>
       <div class="mb-3">
           <label>Contraseña</label>
           <input type="password" class="form-control" name="contrasenia">
       </div>
       <div class="mb-3">
            <label>Contacto</label>
            <input type="text" class="form-control" name="contacto">
       </div>
       <div class="mb-3 d-grid gap-2 d-md-flex justify-content-md-end">
             <input type="submit" class="btn btn-warning " value="Crear">
       </div>
    </form>
  </div>
</div>

<div class="col-5">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
    </tr>
  </thead>
  <tbody>
  {{#usuarios}}
    <tr>
      <td>{{id}}</td>
      <td><a href="/usuarios/{{id}}">{{usuario}}</a></td>
    </tr>
   {{/usuarios}}
  </tbody>
</table>
</div>

      <div>
        <h2 class="text-center my-3">Rankings</h2>
      </div>

<div class="container">
    <div class="row">
    <div class="col">
        <ul class="list-group text-center">
          <li style="background: #a18c5f;" class="list-group-item  text-uppercase fw-bold">RANKING DE ENTIDADES POR {{criterio1.nombre_criterio}} </li>
          {{#ranking1}}
             <li class="list-group-item">{{razonSocial}}</li>
          {{/ranking1}}
        </ul>
    </div>
    <div class="col">
        <ul class="list-group text-center">
          <li style="background: #a18c5f;" class="list-group-item text-uppercase fw-bold">RANKING DE ENTIDADES POR {{criterio2.nombre_criterio}}</li>
          {{#ranking2}}
             <li class="list-group-item">{{razonSocial}}</li>
          {{/ranking2}}
        </ul>
     </div>
     </div>
</div>




</div>

{{/partial}}

{{> layoutAdmin.html.hbs }}