{{#partial "principal"}}

      <div class="bg-gris py-2 align-items-center text-white">
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item text-white text-decoration-none"><a href="/home" class="text-decoration-none text-white">Home</a></li>
            <li class="text-white text-decoration-none mx-2"> > </li>
            <li class="breadcrumb-item text-white" aria-current="page">Rankings</li>
          </ol>
        </nav>
        </div>


    <h2 class="text-center my-5 text-uppercase">ENTIDADES POR {{nombre}}</h2>

    <div class="container text-center my-5 ">
        <div class="row r">
            <div class="col-6 col-md-4 align-self-start d-flex justify-content-center">
                <div class="card border border-warning-subtle border border-3 "  style="width: 18rem;">
                    <img src="/2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text fs-5 fw-bold text-uppercase">{{segundaEntidad.razonSocial}}</p>
                    </div>
                  </div>
            </div>
            <div class="col-6 col-md-4 align-self-start d-flex justify-content-center">
                <div class="card border border-warning-subtle border border-3 " style="width: 18rem;">
                    <img src="/1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text fs-5 fw-bold text-uppercase">{{primeraEntidad.razonSocial}}</p>
                    </div>
                  </div>
            </div>
            <div class="col-6 col-md-4 align-self-end d-flex justify-content-center">
                <div class="card border border-warning-subtle border border-3 " style="width: 18rem;">
                    <img src="/3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text fs-5 fw-bold text-uppercase">{{terceraEntidad.razonSocial}}</p>
                    </div>
                  </div>
            </div>
          </div>
    </div>

    <div class="container d-flex justify-content-center">
        <div class="col-6 text-center" >
            <ul class="list-group ">
                {{#entidadesOrdenadas}}
                <li class="list-group-item fs-6 fw-bold text-uppercase">{{razonSocial}}</li>
                {{/entidadesOrdenadas}}
            </ul>
        </div>
    </div>

{{/partial}}

{{> layoutSesionIniciada.html.hbs }}