{{#partial "principal" }}


    <div class="bg-gris py-2 align-items-center text-white">
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item text-white"><a href="/home" id="subrayado" class="nav-link text-white">Home</a>
            </li>
            <li class="text-white text-decoration-none mx-2"> ></li>
            <li class="breadcrumb-item text-white" aria-current="page">Comunidades Administrables</li>
        </ol>
        </nav>
    </div>


    <div class="container justify-content-center">
        <div class="titulo my-4 text-center">
            <h2 class="text-center">Mis comunidades administrables</h2>
            <a class="text-center text-decoration-none">{{vacio}}</a>
        </div>


        {{#comunidades}}

            <!--<div class="col-xl-4 mb-4">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title fw-bold" style="text-transform: capitalize;">{{nombre}}</h5>
      </div>
      <div class="card-body">
        <div class="d-md-flex justify-content-md-end">
        <a href="/comunidades/{{id}}" class="btn btn-warning">Ver incidentes</a>
        </div>
      </div>
    </div>

</div>-->
            <div class="col-xl-4 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title fw-bold" style="text-transform: capitalize;">{{nombre}}</h5>
                    </div>
                    <div class="card-body">
                        Servicios de Interés:
                        <ul class="list-group list-group-flush">
                            {{#serviciosDeInteres}}
                                <li class="list-group-item">{{nombre}}</li>
                            {{/serviciosDeInteres}}
                        </ul>
                        <div class="d-md-flex justify-content-md-end">
                            <a href="/admin/comunidades/{{id}}/miembros">
                                <button type="button" class="btn btn-warning">Miembros</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


        {{/comunidades}}

    </div>

{{/partial}}

{{> layoutSesionIniciada.html.hbs }}