{{#partial "principal" }}

<h1>DETALLE DEL INCIDENTE</h1>

<ul>
{{#incidente}}
     <li>Observacion: {{observacion}}</li>
     <li>Estado: {{estado}}</li>
     <li>Fecha Apertura: {{fechaApertura}}</li>
     <li>Fecha Cierre: {{fechaCierre}}</li>
     <li>Servicio: {{servicioAsociado.nombre}}</li>
</ul>

<a href="/comunidades">Volver</a>

{{/incidente}}

{{/partial}}

{{> layoutSesionIniciada.html.hbs }}