{{#partial "principal" }}


<div class="container text-center my-5">
    <h4 class="fw-bolder my-3">ServiTrouble es tu solución ágil para incidentes de movilidad</h4>
</div>



<div class="container text-center my-5">
        <div class="container">

        </div>
        <div class="row align-items-center my-5">
            <div class="col ">
                <img src="incidente.png" alt="incidente" style="width:150px;height:150px;">
                </br>
                <h5 class="my-4">Cargá un nuevo incidente en alguna de nuestras entidades</h5>
                </br>
                <a href="/entidades" class="btn btn-warning my-2">Entidades</a>
            </div>
            <div class="col">
                <img src="lista-de-verificacion.png" alt="lista" style="width:150px;height:150px;">
                </br>
                <h5 class="my-4">Dale un vistazo a los incidentes creados en cada comunidad</h5>
                </br>
                <a href="/comunidades" class="btn btn-warning my-2">Comunidades</a>
            </div>
        </div>
</div>

      <div>
        <h2 class="text-center mt-5 mb-5">Incidentes cercanos</h2>
      </div>

    <div class="container  my-2">
        <div class="text-center">
        {{#mensajeIncidentes}}
        <div class="container-md">
            <p class="alert alert-warning">{{mensajeIncidentes}}</p>
        </div>
        {{/mensajeIncidentes}}

            <div class="row">
                {{#incidentes}}
                <div class="col">
                  <div class="card" style="width: 16rem;">
                      <div class="card-body">
                        <h5 class="card-title">{{servicioAsociado.nombre}}</h5>
                        <p class="card-text">{{observacion}}</p>
                        <form class="incidente_sugeridos-form" method="POST" action="/comunidades/{{id}}">
                            <input type="hidden" value="{{id}}" name="idIncidente"></input>
                            <input type="submit" onclick="return confirm('¿Seguro que querés cerrar el incidente?')" value="Cerrar Incidente" class="btn btn-warning"/>
                        </form>
                      </div>
                    </div>
                </div>
                {{/incidentes}}
            </div>
        </div>
        <a href="/incidente-sugerido"><p class="text-end mt-3">Ver más</p></a>
      </div>


{{/partial}}

{{> layoutSesionIniciada.html.hbs }}