{{#partial "principal" }}



<div class="bg-gris py-2">
    <ul class="nav justify-content-center">
        <li class="nav-item mx-4">
          <a class="nav-link text-white" id="subrayado" href="/entidades">Abrir nuevo incidente</a>
        </li>
        <li class="nav-item mx-4">
          <a class="nav-link text-white" id="subrayado" href="/comunidades">Mis comunidades</a>
        </li>
        {{#if esAdmin}}
        <li class="nav-item mx-4">
          <a class="nav-link text-white" id="subrayado" href="/admin/home">Panel Administrador</a>
        </li>
        {{/if}}
      </ul>
 </div>

    <div class="py-3"
         style="background-image: url('../ciudad2.jpg'); background-size: cover; background-position: center; width: 100%;">
        <div class="container text-center mb-5">
            <h2 class="fw-bolder mb-3 py-1">ServiTrouble es tu solución ágil para incidentes de movilidad</h2>
        </div>

        <div class="container text-center my-5">
            <div class="row align-items-center my-5">
                <div class="col ">
                    <img src="incidente.png" alt="incidente" style="width:130px;height:130px;">
                    </br>
                    <h3 class="text-warning fw-bolder my-3" style=" -webkit-text-stroke: 0.3px #000000;">Cargá un nuevo
                        incidente en alguna de nuestras entidades</h3>
                    </br>
                    <a href="/entidades" class="btn btn-warning my-1">Entidades</a>
                </div>
                <div class="col">
                    <img src="lista-de-verificacion.png" alt="lista" style="width:130px;height:130px;">
                    </br>
                    <h3 class="text-warning fw-bolder my-3" style=" -webkit-text-stroke: 0.3px #000000;">Dale un vistazo
                        a los incidentes creados en cada comunidad</h3>
                    </br>
                    <a href="/comunidades" class="btn btn-warning my-1">Comunidades</a>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h2 class="text-center fw-bolder mt-5 mb-5">Incidentes cercanos</h2>
    </div>

    <div class="container  my-2">
        <div class="text-center">
            {{#mensajeIncidentes}}
                <div class="container-md">
                    <p class="alert alert-warning">{{mensajeIncidentes}}</p>
                </div>
            {{/mensajeIncidentes}}

            <div class="row incidentes-cercanos-container-responsive">
                {{#incidentes}}
                    <div class="col my-4 card-clickable">
                        <button href="/incidentes/{{id}}" class="btn"  data-bs-toggle="modal"
                                data-bs-target="#exampleModal{{id}}">

                            <div class="card card-incidente">
                                <div class="card-header">

                                    <h5 class="card-title fw-bold"
                                        style="text-transform: capitalize;">{{ servicioAsociado.nombre}}</h5></div>

                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">{{observacion}}</li>
                                        <li class="list-group-item">Estado: {{estado}}</li>
                                    </ul>
                                </div>
                            </div>

                        </button>
                    </div>

                    <div class="modal fade" id="exampleModal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Detalle incidente</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="card-body">

                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Establecimiento: {{servicioAsociado.establecimiento.nombre}}</li>
                                        <li class="list-group-item">Servicio: {{servicioAsociado.nombre}}</li>
                                        <li class="list-group-item">Observacion: {{observacion}}</li>
                                        <li class="list-group-item">Estado: {{estado}}</li>
                                        <li class="list-group-item">Fecha Apertura: {{fechaHoraAbre}}</li>
                                        {{#if fechaHoraCierre}}
                                            <li class="list-group-item">Fecha Cierre: {{fechaHoraCierre}}</li>
                                        {{/if}}
                                    </ul>

                                    {{#unless fechaCierre}}
                                        <form method="POST" action="/incidentes">
                                            <input type="hidden" class="form-control" name="idIncidente" value="{{id}}">
                                            <input type="hidden" class="form-control" name="redirectionUrl" value="/home">
                                            <div class="text-end p-3">
                                                <input type="submit"
                                                       onclick="return confirm('Con esto estarás indicando que el incidente fue resuelto y el servicio funciona con normalidad. ¿Deseas continuar?')"
                                                       class="btn btn-warning" value="Cerrar Incidente">
                                            </div>
                                        </form>
                                    {{/unless}}
                                </div>
                            </div>
                        </div>
                    </div>
                {{/incidentes}}
            </div>
        </div>
        <a href="/incidentesSugeridos?pag=1"><p class="text-end mt-3 nav-link">Ver más</p></a>
    </div>

{{/partial}}

{{> layoutSesionIniciada.html.hbs }}