{{#partial "principal" }}

<h2 class="text-center">INCIDENTES SUGERIDOS</h2>
        <table class="tabla_incidentes_sugeridos" style="">
            <tr id="incidentes_sugeridos-cabecera">
                <th></th>
                <th>Fecha Apertura</th>
                <th>Servicio</th>
                <th>Observacion</th>
                <th></th>
            </tr>
            {{#incidentes}}
            <tr>
                <td>
                    <form class="incidente_sugeridos-form" method="POST" action="/incidente/{{id}}">
                        <input type="hidden" value="{{id}}" name="incidente"></input>
                        <input type="submit" value="Cerrar Incidente" class="btn btn-secondary"/>
                    </form>
                </td>
                <td>{{fechaHoraAbre}}</td>
                <td>{{servicioAsociado.nombre}}</td>
                <td>{{observacion}}</td>
            </tr>
            {{/incidentes}}
        </table>
<a href="/home" type="button" class="perfil btn btn-outline-light" id="back-to-home">Volver al Menú</a>

{{/partial}}

{{> layoutSesionIniciada.html.hbs }}