{{#partial "principal" }}

    <div class="bg-gris py-2 align-items-center text-white">
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item text-white"><a href="/home" id="subrayado" class="nav-link text-white">Home</a>
            </li>
            <li class="text-white text-decoration-none mx-2"> ></li>
            <li class="breadcrumb-item text-white"><a href="/comunidades" id="subrayado" class="nav-link text-white">Comunidades</a>
            </li>
            <li class="text-white text-decoration-none mx-2"> ></li>
            <li class="breadcrumb-item text-white" aria-current="page">Incidentes</li>
        </ol>
        </nav>
    </div>

    <div class="text-center fw-bolder mt-5 mb-4"><h2>Incidentes</h2></div>


    <div class="container my-2">
        <div class="row">


            {{#incidentesAbiertos}}
                <div class="col my-4">
                    <div class="card " style="width: 16rem;">
                        <div class="card-header">

                            <h5 class="card-title fw-bold" style="text-transform: capitalize;">{{ servicioAsociado.nombre}}</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{observacion}}</li>
                                <li class="list-group-item">Estado: {{estado}}</li>
                                <li class="list-group-item">Fecha Apertura: {{fechaApertura}}</li>
                                <li class="list-group-item">Fecha Cierre: -</li>

                            </ul>
                            <form method="POST" action="/incidentes">
                                <input type="hidden" class="form-control" name="idIncidente" value="{{id}}">
                                <div class="text-end mt-3">
                                    <input type="submit"
                                           onclick="return confirm('¿Seguro que querés cerrar el incidente?')"
                                           class="btn btn-warning" value="Cerrar Incidente">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {{/incidentesAbiertos}}
            {{#incidentesCerrados}}
                <div class="col my-4">
                    <div class="card " style="width: 16rem;">
                        <div class="card-header">
                            <h5 class="card-title fw-bold" style="text-transform: capitalize;">{{servicioAsociado.nombre}}</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{observacion}}</li>
                                <li class="list-group-item">Estado: {{estado}}</li>
                                <li class="list-group-item">Fecha Apertura: {{fechaApertura}}</li>
                                <li class="list-group-item">Fecha Cierre: {{fechaCierre}}</li>

                            </ul>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            {{/incidentesCerrados}}

        </div>
    </div>



{{/partial}}

{{> layoutSesionIniciada.html.hbs }}