{{#partial "principal" }}



      <div class="bg-gris py-2 align-items-center text-white">
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item text-white"><a href="/home" class="nav-link text-white" id="subrayado">Home</a></li>
            <li class="text-white text-decoration-none mx-2"> > </li>
            <li class="breadcrumb-item text-white" aria-current="page">Incidentes Sugeridos</li>
          </ol>
        </nav>
    </div>

 <div>
        <h2 class="text-center fw-bolder mt-5 mb-4">Incidentes cercanos</h2>
      </div>

    <div class="container  my-2">
        <div class="text-center">
        {{#mensajeIncidentes}}
        <div class="container-md">
            <p class="alert alert-warning">{{mensajeIncidentes}}</p>
        </div>
        {{/mensajeIncidentes}}

            <div class="row">
                {{#incidentes}}
                    <div class="col my-4 card-clickable">
                        <button href="/incidentes/{{id}}" class="btn"  data-bs-toggle="modal"
                                data-bs-target="#exampleModal{{id}}">

                            <div class="card card-incidente">
                                <div class="card-header">

                                    <h5 class="card-title fw-bold"
                                        style="text-transform: capitalize;">{{ servicioAsociado.nombre}}</h5></div>

                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">{{observacion}}</li>
                                        <li class="list-group-item">Estado: {{estado}}</li>
                                    </ul>
                                </div>
                            </div>

                        </button>
                    </div>

                    <div class="modal fade" id="exampleModal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Detalle incidente</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="card-body">

                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Establecimiento: {{servicioAsociado.establecimiento.nombre}}</li>
                                        <li class="list-group-item">Servicio: {{servicioAsociado.nombre}}</li>
                                        <li class="list-group-item">Observacion: {{observacion}}</li>
                                        <li class="list-group-item">Estado: {{estado}}</li>
                                        <li class="list-group-item">Fecha Apertura: {{fechaHoraAbre}}</li>
                                        {{#if fechaHoraCierre}}
                                            <li class="list-group-item">Fecha Cierre: {{fechaHoraCierre}}</li>
                                        {{/if}}
                                    </ul>

                                    {{#unless fechaCierre}}
                                        <form method="POST" action="/incidentes">
                                            <input type="hidden" class="form-control" name="idIncidente" value="{{id}}">
                                            <input type="hidden" class="form-control" name="redirectionUrl" value="/incidentesSugeridos">
                                            <div class="text-end p-3">
                                                <input type="submit"
                                                       onclick="return confirm('Con esto estarás indicando que el incidente fue resuelto y el servicio funciona con normalidad. ¿Deseas continuar?')"
                                                       class="btn btn-warning" value="Cerrar Incidente">
                                            </div>
                                        </form>
                                    {{/unless}}
                                </div>
                            </div>
                        </div>
                    </div>
                {{/incidentes}}
            </div>
        </div>
      </div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
  {{#each paginas}}
    <li class="page-item paginationCustom"><a class="page-link" href="/incidentesSugeridos/{{this}}">{{this}}</a></li>
  {{/each}}
  </ul>
</nav>

{{/partial}}

{{> layoutSesionIniciada.html.hbs }}