{{#partial "principal" }}



      <div class="bg-gris py-2 align-items-center text-white">
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item text-white"><a href="/home" class="nav-link text-white" id="subrayado">Home</a></li>
            <li class="text-white text-decoration-none mx-2"> > </li>
            <li class="breadcrumb-item text-white" aria-current="page">Incidentes Sugeridos</li>
          </ol>
        </nav>
    </div>

 <div>
        <h2 class="text-center fw-bolder mt-5 mb-4">Incidentes cercanos</h2>
      </div>

    <div class="container  my-2">
        <div class="text-center">
        {{#mensajeIncidentes}}
        <div class="container-md">
            <p class="alert alert-warning">{{mensajeIncidentes}}</p>
        </div>
        {{/mensajeIncidentes}}

            <div class="row">
                {{#incidentes}}
                <div class="col my-4">
                  <div class="card" style="width: 16rem;">
                      <div class="card-body">
                        <h5 class="card-title fw-bolder">{{servicioAsociado.nombre}}</h5>
                        <p class="card-text">{{observacion}}</p>
                        <p class="card-text">Fecha de apertura: {{fechaApertura}}</p>
                        <p class="card-text">Establecimiento: {{servicioAsociado.establecimiento.nombre}}</p>
                        <form class="incidente_sugeridos-form" method="POST" action="/incidentes">
                            <input type="hidden" value="{{id}}" name="idIncidente"></input>
                            <input type="submit"  onclick="return confirm('¿Seguro que querés cerrar el incidente?')" value="Cerrar Incidente" class="btn btn-warning"/>
                        </form>
                      </div>
                    </div>
                </div>
                {{/incidentes}}
            </div>
        </div>
      </div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
  {{#each paginas}}
    <li class="page-item paginationCustom"><a class="page-link" href="/incidente-sugerido/{{this}}">{{this}}</a></li>
  {{/each}}
  </ul>
</nav>

{{/partial}}

{{> layoutSesionIniciada.html.hbs }}