{{#partial "principal" }}

<div class="bg-gris py-2 align-items-center text-white">
  <ol class="breadcrumb justify-content-center">
    <li class="breadcrumb-item text-white "><a href="/home" id="subrayado" class="nav-link text-white">Home</a></li>
    <li class="text-white text-decoration-none mx-2"> > </li>
    <li class="breadcrumb-item text-white" aria-current="page">Perfil</li>
  </ol>
</nav>
</div>



{{#with usuarioDetalle}}
<div>
    <h2 class="text-center my-3">Modificar mi usuario</h2>
</div>
<div class="container">
<div class="row justify-content-center my-4">
    <div class="col-3">
    </div>
    <div class="col-5 align-self-center">
    <form method="POST" action="/profile/modificacion" type="submit" value="Modificar Usuario">
           <!-- Campo oculto para tratar la request como PUT -->
           <input type="hidden" class="form-control" name="_method" value="PUT">
           <div class="mb-3">
             <label for="exampleInputEmail1" class="form-label">Usuario</label>
             <input type="text" id="exampleInputEmail1" class="form-control" placeholder="{{usuario}}" name="usuario" value="{{usuario}}" disabled>
           </div>
           <div class="mb-3">
             <label for="exampleInputEmail1" class="form-label">Contacto</label>
             <input type="text" id="disabledTextInput" class="form-control" name="contacto" value="{{contacto}}">
           </div>
           <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Contrase침a</label>
              <input type="password" id="disabledTextInput" class="form-control" name="contrasenia" value="{{contrasenia}}">
           </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Agregar horario de notificaci칩n</label>
              <input type="time" id="disabledTextInput" class="form-control" value="horario" name="horario" >
              <div id="emailHelp" class="form-text">Hasta cinco horarios posibles</div>
           </div>
           <div class="mb-3">
               <label for="exampleInputEmail1" class="form-label">Medio notificador</label>
               <input type="text" id="disabledTextInput" class="form-control" value="{{medioNotificador.nombre}}" name="medioNoti" disabled>
               <div id="emailHelp" class="form-text">Proximamente mas medios de notificaci칩n</div>
            </div>
            <div class="mb-3 d-grid gap-2 d-md-flex justify-content-md-end">
            <input type="submit" class="btn btn-warning" value="Guardar">
            </div>
    </form>
    </div>
    <div class="col-4 justify-content-center text-center">
        <h5 class="mb-3">Horarios de notificaci칩n</h5>
        <p>{{horarioVacio}}</p>
        <div class="container justify-content-center">
        {{#horarios}}
            <form method="POST" action="/profile/modificacion/horarios">
                <div class="card w-50 mx-auto">
                  <div class="card-body text-center">
                    <p class="card-title">{{hora}}:{{minuto}}</p>
                    <input type="hidden" class="form-control" name="hora" value="{{hora}}">
                    <input type="hidden" class="form-control" name="minuto" value="{{minuto}}">
                    <input type="submit" class="btn btn-danger btn-sm" value="Borrar">
                  </div>
                </div>
            </form>
        {{/horarios}}
        </div>
    </div>
</div>
</div>

{{/with}}


{{/partial}}

{{> layoutSesionIniciada.html.hbs }}
