{{#partial "principal" }}




 {{#with usuarioDetalle}}
 <div class="cont-form">
     <div class="row border rounded-5 p-3 bg-white shadow box-area">
      <h2 class="text-center">MODIFICAR MI USUARIO</h1>
        <form method="POST" action="/usuarios/{{id}}" type="submit" value="Modificar Usuario">
            <!-- Campo oculto para tratar la request como PUT -->
                <input type="hidden" class="form-control" name="_method" value="PUT">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="usuario" value="{{usuario}}">
                    <label for="usuario">Usuario:</label>
                    <br>
                </div>
                <div class="form-floating mb-3">
                     <input type="text" class="form-control" name="contacto" value="{{contacto}}">
                     <label for="contacto">Contacto:</label>
                      <br>
                </div>
                <div class="form-floating mb-3">
                     <input type="password" class="form-control" name="contrasenia" value="{{contrasenia}}">
                     <label for="contrasenia">Contraseña:</label>
                     <br>
                </div>
                <div class="form-floating mb-3">
                      <input type="text" class="form-control" name="medioNoti" value="{{medioNoti}}">
                      <label for="medioNoti">Medio Notificador:</label>
                      <br>
                </div>
                <div class="form-floating mb-3">
                         {{#horarios}}
                          <input type="text" class="form-control" name="horarios" value="{{hora}}:{{minuto}}">
                          {{/horarios}}
                         <label for="horarios">Horarios de Notificacion:</label>
                </div>
                <input type="submit" value="Guardar">
        </form>
     </div>
   </div>
    {{/with}}



{{/partial}}

{{> layoutSesionIniciada.html.hbs }}
