{{#partial "principal" }}

<div class="bg-gris py-2 align-items-center text-white">
  <ol class="breadcrumb justify-content-center">
    <li class="breadcrumb-item text-white "><a href="/home" id="subrayado" class="nav-link text-white">Home</a></li>
    <li class="text-white text-decoration-none mx-2"> > </li>
    <li class="breadcrumb-item text-white "><a href="/profile" id="subrayado" class="nav-link text-white">Perfil</a></li>
    <li class="text-white text-decoration-none mx-2"> > </li>
    <li class="breadcrumb-item text-white" aria-current="page">Modificar</li>
  </ol>
</nav>
</div>



{{#with usuarioDetalle}}

<div class="container">
<div class="row justify-content-start my-2 mb-3">
<div>
    <h2 class="text-center my-3">Modificar mi usuario</h2>
</div>
    <div class="col-1"></div>
    <div class="col-3">
        <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
         <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off" checked>
          <label class="btn btn-outline-secondary" for="vbtn-radio1">General</label>
         <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio2" autocomplete="off">
         <a href="/profile/modificacion/horarios" class="btn btn-outline-secondary" for="vbtn-radio2">Horarios de notificación</a>
        </div>
    </div>
    <div class="col-4">
    <form method="POST" action="/profile/modificacion" type="submit" value="Modificar Usuario">
           <!-- Campo oculto para tratar la request como PUT -->
           <input type="hidden" class="form-control" name="_method" value="PUT">
           <div class="mb-3">
             <label for="exampleInputEmail1" class="form-label">Usuario</label>
             <input type="text" id="exampleInputEmail1" class="form-control" placeholder="{{usuario}}" name="usuario" value="{{usuario}}" disabled>
           </div>
           <div class="mb-3">
             <label for="exampleInputEmail1" class="form-label">Contacto</label>
             <input type="text" id="disabledTextInput" class="form-control" name="contacto" value="{{contacto}}">
           </div>
           <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Contraseña</label>
              <input type="password" id="disabledTextInput" class="form-control" name="contrasenia" value="{{contrasenia}}">
           </div>
           <div class="mb-3">
               <label for="exampleInputEmail1" class="form-label">Medio notificador</label>
               <input type="text" id="disabledTextInput" class="form-control" value="{{medioNotificador.nombre}}" name="medioNoti" disabled>
               <div id="emailHelp" class="form-text">Proximamente mas medios de notificación</div>
            </div>
            <div class="mb-3 d-grid gap-2 d-md-flex justify-content-md-end">
            <input type="submit" class="btn btn-warning" value="Guardar">
            </div>
    </form>
    </div>
</div>
</div>

{{/with}}


{{/partial}}

{{> layoutSesionIniciada.html.hbs }}
