{{#partial "principal" }}

<div class="bg-gris py-2 align-items-center text-white">
  <ol class="breadcrumb justify-content-center">
    <li class="breadcrumb-item text-white "><a href="/home" id="subrayado" class="nav-link text-white">Home</a></li>
    <li class="text-white text-decoration-none mx-2"> > </li>
    <li class="breadcrumb-item text-white "><a href="/profile" id="subrayado" class="nav-link text-white">Perfil</a></li>
    <li class="text-white text-decoration-none mx-2"> > </li>
    <li class="breadcrumb-item text-white" aria-current="page">Modificar</li>
  </ol>
</nav>
</div>



{{#with usuarioDetalle}}

<div class="container">
<div class="row justify-content-center mt-3 mb-0">
<div class="col-6 text-center alert alert-danger alert-dismissible fade show" role="alert">
  No se pueden agregar mas de cinco horarios de notificaci贸n
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
</div>
</div>
<div class="row justify-content-start my-2 mb-3">
<div>
    <h2 class="text-center my-3">Modificar mi usuario</h2>
</div>
    <div class="col-1"></div>
    <div class="col-3">
        <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
          <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off">
          <a href="/profile/modificacion" class="btn btn-outline-secondary" for="vbtn-radio1">General</a>
          <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio2" autocomplete="off" checked>
          <label class="btn btn-outline-secondary" for="vbtn-radio2">Horarios de notificaci贸n</label>
        </div>
    </div>
    <div class="col-4 ">

           <p class="mb-3">Horarios de notificaci贸n</p>

           {{#horarioVacio}}
           <div class="col text-center alert alert-danger alert-dismissible fade show" role="alert">
             {{horarioVacio}}
           </div>
           {{/horarioVacio}}
                  <div class="container justify-content-center">
                  {{#horarios}}
                      <form method="POST" action="/profile/modificacion/horario">

                      <div class="card">
                        <div class="card-body">
                        <div class="row justify-content-between">
                            <div class="col">
                               {{hora}}:{{minuto}}
                               <input type="hidden" class="form-control" name="hora" value="{{hora}}">
                               <input type="hidden" class="form-control" name="minuto" value="{{minuto}}">
                            </div>
                            <div class="col">
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <input type="submit" class="btn btn-danger btn-sm" value="Borrar">
                                </div>
                            </div>
                        </div>
                        </div>
                      </div>


                      </form>
                  {{/horarios}}
                  </div>

    <form method="POST" action="/profile/modificacion/horarios" type="submit" value="Modificar Usuario">
           <!-- Campo oculto para tratar la request como PUT -->
           <input type="hidden" class="form-control" name="_method" value="PUT">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Agregar horario de notificaci贸n</label>
              <input type="time" id="disabledTextInput" class="form-control" value="horario" name="horario" >
              <div id="emailHelp" class="form-text">Hasta cinco horarios posibles</div>
           </div>
            <div class="mb-3 d-grid gap-2 d-md-flex justify-content-md-end">
            <input type="submit" class="btn btn-warning" value="Agregar">
            </div>
    </form>
    </div>
</div>
</div>

{{/with}}


{{/partial}}

{{> layoutSesionIniciada.html.hbs }}
