{{#partial "principal" }}



{{#with usuarioDetalle}}
<div class="cont-form">
    <div class="row border rounded-5 p-3 bg-white shadow box-area">
    <h2 class="text-center">MI USUARIO</h2>
         <ul class="list-group">
            <li class="list-group-item">Usuario:      {{usuario}}</li>
            <br>
            <li class="list-group-item">Contacto:      {{contacto}}</li>
            <br>
            <li class="list-group-item">Contraseña:      {{contrasenia}}</li>
            <br>
            <li class="list-group-item">Medio Notificador:      {{medioNoti}}</li>
            <br>
            <li class="list-group-item">Horarios de Notificacion:
            {{#horarios}}
                {{hora}}:{{minuto}}
            {{/horarios}}</li>
            <br>
            <form method="POST">
            <input type="submit" class="btn btn-primary" value="Modificar Perfil">
            </form>
         </ul>
      <div>
</div>
    {{/with}}



{{/partial}}

{{> layoutSesionIniciada.html.hbs }}

