{{#partial "principal" }}

<h1>USUARIO</h1>

{{#with usuarioDetalle}}

         <ul>
            <li>Usuario: {{usuario}}</li>
            <br>
            <li>Contacto: {{contacto}}</li>
            <br>
            <li>Contraseña: {{contrasenia}}</li>
            <br>
            <li>Medio Notificador: {{medioNoti}}</li>
            <br>
            <li>Horarios de Notificacion:</li>
            {{#horarios}}
                    {{hora}}:{{minuto}}
            <br>
            {{/horarios}}
            <form method="POST">
            <input type="submit" value="Modificar Perfil">
            </form>
         </ul>

    {{/with}}



{{/partial}}

{{> layoutSesionIniciada.html.hbs }}

