{{#partial "principal" }}

<h1>USUARIO</h1>

<ul>
        {{#usuarioDetalle}}
            <li><a>Usuario: {{usuario}}</a></li>
            <li><a>Contacto: {{contacto}}</a></li>
            <li><a>Medio Notificador: {{medioNoti}}</a></li>
            <li><a>
            Entidades de Interes:
            {{#entidadesInteres}}
               <li>{{razonSocial}}</li>
            {{/entidadesInteres}}
            </a></li>
            <li><a>
            Horarios de Notificacion:
            {{#horarios}}
                <li>{{hora}}:{{minuto}}</li>
            {{/horarios}}
            </a></li>
        {{/usuarioDetalle}}
</ul>

<form method="POST">
    <input onclick="mostrarAlerta()" type="submit" value="Eliminar Usuario">

    <script>
    function mostrarAlerta() {
        alert('Usuario Eliminado!');
    }
    </script>
</form>

{{/partial}}

{{> layoutSesionIniciada.html.hbs }}