{{#partial "principal" }}


<div class="bg-gris py-2 align-items-center text-white">
  <ol class="breadcrumb justify-content-center">
    <li class="breadcrumb-item text-white "><a href="/home" id="subrayado" class="nav-link text-white">Home</a></li>
    <li class="text-white text-decoration-none mx-2"> > </li>
    <li class="breadcrumb-item text-white "><a href="/admin/comunidades" id="subrayado" class="nav-link text-white">Comunidades Administrables</a></li>
    <li class="text-white text-decoration-none mx-2"> > </li>
    <li class="breadcrumb-item text-white" aria-current="page">Miembros</li>
  </ol>
</nav>
</div>


<div class="container text-center my-4">
<h2>Usuarios de {{nombreComunidad}}</h2>
</div>

<div class="container d-flex justify-content-center align-items-center">
<div class="col-6">
<ul class="list-group">
        {{#usuarios}}
            <form method="POST" >

            <div class="card">
              <h5 class="card-header">{{usuario}}</h5>
              <div class="card-body">
                <p class="card-text text-lowercase">Contacto: {{contacto}}</p>
                <p class="card-text text-lowercase">Tipo de usuario: {{permisoUsuario}}</p>
                <input type="hidden" name="idusuario" value="{{id}}">
                <input type="submit" value="Eliminar Miembro" class="btn btn-warning">
              </div>
            </div>

            </form>
        {{/usuarios}}
</ul>
</div>
</div>



{{/partial}}

{{> layoutSesionIniciada.html.hbs }}